@import 'styles/variable.scss';

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafb;
}

.login-container {
  background-color: $white;
  width: 100%;
  max-width: 40rem;
  padding: 5rem;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.login-subtitle {
  color: #b3b3b3;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.input-container {
  position: relative;
  margin-bottom: 2rem;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: all 150ms ease;

  font-size: 1.5rem;
  z-index: 10;
  background: #fff;
  padding: 0 0.5rem;
  color: #495057;
}

.login-input {
  width: 100%;
  border: 1px solid #ddd;
  background: transparent;
  padding: 1.5rem;
}

.login-input.error {
  border-color: red;
}

.login-input:focus + .input-label,
.login-input:valid + .input-label {
  top: 0;
  font-size: 1.25rem;
}

.login-input:focus {
  outline: none;
  color: #495057;
}

.login-button {
  width: 100%;
  color: $white;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $primary_color;
  transition: background-color 100ms ease;
}

.login-button:hover {
  background-color: #db4551;
}
