@import 'styles/variable.scss';

.messages-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 2rem 1.25rem;
}

.messages-container::-webkit-scrollbar {
  width: 4px;
}

.messages-container::-webkit-scrollbar-track {
  background: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.messages-container:hover {
  &::-webkit-scrollbar-thumb {
    background: $secondary;
  }
}
