@import 'styles/variable.scss';

.settings-modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  min-width: 27rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;
}

.username-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.username-input-label {
  font-size: 1.5rem;
  font-weight: 500;
}

.username-input {
  width: 100%;
  border: 1px solid #ddd;
  background: transparent;
  padding: 1.5rem;
  outline: none;
}

.button {
  padding: 1rem;
}

.settings-buttons {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.settings-button {
  flex: 1;
}

.settings-button.save {
  background-color: $primary_color;
  border: 1px solid transparent;
  color: #fff;
  transition: background-color 100ms ease-out;
}

.settings-button.save:hover {
  background-color: darkred;
}

.settings-button.cancel {
  color: #999;
  border: 1px solid #eee;
}

.settings-button.cancel:hover {
  color: #777;
  border: 1px solid #ccc;
}

.settings-logout-button {
  width: 100%;
  border: 1px solid #ddd;
}

.settings-logout-button:hover {
  border: 1px solid #bbb;
}
