.profile-image-container {
  width: 6rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    background: #82f582;
    border-radius: 50%;
    bottom: 0;
    right: 0;
  }

  &.offline::after {
  }
}
